<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover table-condensed">
                <tr ng-repeat="session in online">
                    <td>{{ session.sessionId }}</td>
                    <td>{{ session.userLogin }}</td>
                    <td>{{ session.sessionDurationHR }}</td>
                    <td>{{ session.framedIpHR}}</td>
                </tr>
                <tr>
                    <th colspan="3">Итого:</th>
                    <th>{{online.length}}</th>
                </tr>
            </table>
        </div>
    </div>
</div>